@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
*{
    background-color: black;
    color: red;
    font-family: 'Vina Sans', sans-serif;
}
div{
   
    font-size: 4em;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border: 5px solid aqua;
    height: 30%;
    width: 50%;
}